body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333333;
}

header {
    background-color: #f0f0f0;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 50px; /* pielāgojiet nepieciešamības gadījumā */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
}

main {
    padding: 20px;
}

h2 {
    color: #007BFF;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f0f0f0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
